<div class="main-carousel">
    {% for item in site.data.carousel %}
    <div class="carousel-cell">
        <div class="carousel-content">
            <h2>{{ item.header }}</h2>
            <p>{{ item.description }}</p>
            <div class="cta-container"><a class="btn primary svg-after" href="{{ item.link }}">{{ item.cta }} <i data-feather="{{ item.cta-svg }}"></i></a></div>
        </div>
        <div class="carousel-img">
            <picture class="fit-picture">
                <source srcset="../assets/images/portfolio-images/{{ item.webpimage }}" type="image/webp">
                <source srcset="../assets/images/portfolio-images/{{ item.jpgimage }}" type="image/jpeg"> 
                <img src="../assets/images/portfolio-images/{{ item.jpgimage }}" alt="{{ item.alttext }}">
            </picture>
        </div>
    </div>
    {% endfor %}
</div>
