<form class="nl-form" action="https://getform.io/f/ea6c0936-7e13-46f3-90b0-d2cc7be79ce2" method="POST">
    <p>Hello! My name is
    <input id="input__name" type="text" placeholder="Your Name" name="name" required>. I work in the
    <input id="input__industry" type="text" placeholder="Your Industry" name="industry" required> industry. I'm looking for help with
            <select id="input__select-type" class="select-css" name="option" required>
                <optgroup label="Option Group">
                    <option disabled selected value>--Please choose an option--</option>
                    <option>Improving my existing product</option>
                    <option>Bringing my product idea to life</option>
                    <option>Developing visual UI concepts to get funding</option>
                </optgroup>
        </select>.</p>
    <p>You can reach me by email
    <input id="input__email" type="email" placeholder="Your Email" name="email" required> and by phone
        <input id="input__phone-numbner" type="tel" placeholder="Your Phone" name="phone" required>.</p>
    <p><i>(Optional)</i> The budget for my project is $<input id="input__budget" type="number" placeholder="Your Budget" name="budget">.</p>
    <button class="btn secondary svg-after pull-right" type="submit">Send Message <i data-feather="chevron-right"></i></button>
</form>
