<form class="nl-form">
    <p>Hello! My name is
    <input id="input__text" type="text" placeholder="Text Input">. I work in the
    <input id="input__text" type="text" placeholder="Text Input">. I'm looking for help with
            <select id="select" class="select-css">
                <optgroup label="Option Group">
                    <option>Option One</option>
                    <option>Option Two</option>
                    <option>Option Three</option>
                </optgroup>
        </select>.</p>
    <p>You can reach me by email
    <input id="input__text" type="email" placeholder="Text Input"> and by phone
        <input id="input__text" type="tel" placeholder="Text Input">.</p>
    <p><i>(Optional)</i> The budget for my project is
    <input id="input__text" type="email" placeholder="Text Input">.</p>
    <button class="btn secondary svg-after pull-right" type="submit">Send Message <i data-feather="chevron-right"></i></button>
</form>
