<footer>
  <nav>
    <div class="footer-nav">
      {% for navigation in site.data.navigation %}
      <a href="{{ navigation.url }}" class="{% if page.url == navigation.url %}active{% endif %}{% if navigation.url == '/work/' %} nested{% endif %}{% if navigation.url == '/contact/' %} contact{% endif %}">{{ navigation.title }}</a>
      {% endfor %}
    </div>
    <div class="subnav">
      {% for subnav in site.data.subnav %}
      <a href="{{ subnav.url }}" target="_blank" rel="noopener">{{ subnav.title }}</a>
      {% endfor %}
    </div>
  </nav>
  <p>© Ryan G. Wilson, 1978‑<span id="copyright"><script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
  </span></p>
</footer>
<script>
  feather.replace()
</script>
<!-- {% if page.url == '/' %}
<script>
  var elem = document.querySelector('.main-carousel');
  var flkty = new Flickity( elem, {
    // options
      fade: true,
    wrapAround: true,
    autoPlay: 5000
  });

  // element argument can be a selector string
  //   for an individual element
  var flkty = new Flickity( '.main-carousel', {
    // options
  });
</script>
{% endif %} -->
