<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  {% if page.url == '/' %}
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" href="https://unpkg.com/flickity-fade@1/flickity-fade.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.pkgd.min.js"></script>
  <script src="https://unpkg.com/flickity-fade@1/flickity-fade.js"></script>
  {% endif %}
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script src="https://unpkg.com/feather-icons"></script>
</head>
