<header id="masterhead">
  <a href="/" class="branding"><h1><span>Ryan G<i>.</i> Wilson</span> UX Leader</h1></a>
  <span class="sr-only">Toggle main menu</span>
  <a href="#main-menu" role="button" class="menu-toggle" aria-label="Toggle main menu">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>
  <nav id="masternav">
  {% for navigation in site.data.navigation %}
    <a href="{{ navigation.url }}" class="{% if navigation.url == page.url %}active{% endif %}{% if page.url == '/' and navigation.url == '/projects/' %} badge-animation{% endif %}{% if navigation.url == '/projects/' %} nested{% endif %}{% if navigation.url == '/contact/' %} contact{% endif %}">{{ navigation.title }}</a>
  {% endfor %}
  </nav>
</header>
<script>
  var menuToggle = document.querySelector('.menu-toggle');
menuToggle.onclick = function() {
  menuToggle.classList.toggle('open');
  document.querySelector('#masternav').classList.toggle('open');
}

function myFunction(x) {
  if (x.matches) { // If media query matches
    document.querySelector('#masternav').classList.remove('open');
    document.querySelector('.menu-toggle').classList.remove('open');
    document.querySelector('#masterhead').classList.remove('mobile-menu');
  } else {
    document.querySelector('#masterhead').classList.add('mobile-menu');
  }
}
var x = window.matchMedia("(min-width: 699px)")
myFunction(x) // Call listener function at run time
x.addListener(myFunction) // Attach listener function on state changes

</script>
