{% assign example = site.portfolio | sort: 'year' | reverse %}
{% if page.url == '/' %}
<div class="card-portfolio">
    {% assign landing_page = example | where: "type", "product" %}
    {% for example in landing_page | limit:4 %}
    <a href="{{ example.url }}" class="{{ example.type }}">
        <figure>
            <img src="../assets/images/portfolio-images/{{ example.collection-image}}" alt="Image representation of {{ example.project }} project">
            <figcaption>
                <h3>{{ example.project }}</h3>
                <p>Role: {{ example.role }}</p>
            </figcaption>
        </figure>
    </a>
    {% endfor %}
</div>
{% else %}
<div class="card-portfolio">
    {% for example in example %}
    <a href="{{ example.url }}" class="{{ example.type }}">
        <figure>
            <img src="../assets/images/portfolio-images/{{ example.collection-image}}" alt="Image representation of {{ example.project }} project">
            <figcaption>
                <h3>{{ example.project }}</h3>
                <p>Role: {{ example.role }}</p>
            </figcaption>
        </figure>
    </a>
    {% endfor %}
</div>
{% endif %}
