<div class="card-portfolio">
    <figure class="">
        <img src="https://images.pexels.com/photos/416676/pexels-photo-416676.jpeg" alt="Flying Kites">
        <figcaption>
            <h3>An elephant at sunset</h3>
            <p>Donec ullamcorper nulla non metus auctor fringilla.</p>
        </figcaption>
    </figure>
    <figure>
        <img src="https://images.pexels.com/photos/416676/pexels-photo-416676.jpeg" alt="Flying Kites">
        <figcaption>
            <h3>An elephant at sunset</h3>
            <p>Donec ullamcorper nulla non metus auctor fringilla.</p>
        </figcaption>
    </figure>
    <figure>
        <img src="https://images.pexels.com/photos/416676/pexels-photo-416676.jpeg" alt="Flying Kites">
        <figcaption>
            <h3>An elephant at sunset</h3>
            <p>Donec ullamcorper nulla non metus auctor fringilla.</p>
        </figcaption>
    </figure>
    <figure>
        <img src="https://images.pexels.com/photos/416676/pexels-photo-416676.jpeg" alt="Flying Kites">
        <figcaption>
            <h3>An elephant at sunset</h3>
            <p>Donec ullamcorper nulla non metus auctor fringilla.</p>
        </figcaption>
    </figure>
</div>
