{% if page.url == '/contact/' %}
<div class="card-container">
    {% for testimonials in site.data.testimonials | limit: 1 %}
    <a class="reference-card single" href="experience/#{{ testimonials.lastname }}">
        <p>{{ testimonials.quote }}</p>
        <span class="btn text">Read More</span>
        <div class="image-title">
            <img src="{{ testimonials.image }}" />
            <h3><b>{{ testimonials.name }}</b> <i>{{ testimonials.title }}</i> {{ testimonials.company }}</h3>
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}
{% if page.url == '/' %}
<div class="card-container all">
    {% for testimonials in site.data.testimonials | limit: 3 %}
    <a class="reference-card third" href="experience/#{{ testimonials.lastname }}">
        <p>{{ testimonials.quote }}</p>
        <span class="btn text">Read More</span>
        <div class="image-title">
            <img src="{{ testimonials.image }}" />
            <h3><b>{{ testimonials.name }}</b> <i>{{ testimonials.title }}</i> {{ testimonials.company }}</h3>
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}
{% if page.url == '/experience/' %}
<div class="card-container all">
    {% for testimonials in site.data.testimonials %}
    <div class="reference-card half" id="{{ testimonials.lastname }}">
        <p>{{ testimonials.quote }}</p>
        <div class="image-title">
            <img src="{{ testimonials.image }}" />
            <h3><b>{{ testimonials.name }}</b> <i>{{ testimonials.title }}</i> {{ testimonials.company }}</h3>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
