{% if page.url contains '/contact/' %}
<div class="card-container">
    {% for testimonials in site.data.testimonials | limit: 2 %}
    <a class="reference-card single" href="../references/#{{ testimonials.lastname }}">
        <q>{{ testimonials.quote }}</q>
        <div class="image-title">
            <picture>
                <source srcset="../assets/images/testimonial-images/{{ testimonials.webpimage }}" type="image/webp">
                <source srcset="../assets/images/testimonial-images/{{ testimonials.image }}" type="image/jpeg"> 
                <img src="../assets/images/testimonial-images/{{ testimonials.image }}" alt="Image of {{ testimonials.name }}">
            </picture>
            <h3><b class="name">{{ testimonials.name }}</b> <i class="title">{{ testimonials.title }}</i> <span  class="company">{{ testimonials.company }}</span></h3>
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}
{% if page.url == '/' %}
<div class="card-container">
    {% for testimonials in site.data.testimonials | limit: 12 %}
    <div class="reference-card third">
        <q>{{ testimonials.quote }}</q>
        <div class="image-title">
            <picture>
                <source srcset="../assets/images/testimonial-images/{{ testimonials.webpimage }}" type="image/webp">
                <source srcset="../assets/images/testimonial-images/{{ testimonials.image }}" type="image/jpeg"> 
                <img src="../assets/images/testimonial-images/{{ testimonials.image }}" alt="Image of {{ testimonials.name }}">
            </picture>
            <h3><b class="name">{{ testimonials.name }}</b> <i class="title">{{ testimonials.title }}</i> <span class="company">{{ testimonials.company }}</span></h3>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
