{% if page.url contains '/contact/' %}
<div class="card-container">
    {% for testimonials in site.data.testimonials | limit: 1 %}
    <a class="reference-card single" href="../experience/#{{ testimonials.lastname }}">
        <q>{{ testimonials.quote }}</q>
        <span class="btn icon"><i data-feather="plus-circle"></i></span>
        <div class="image-title">
            <img src="../assets/images/testimonial-images/{{ testimonials.image }}" alt="Image of {{ testimonials.name }}"/>
            <h3><b class="name">{{ testimonials.name }}</b> <i class="title">{{ testimonials.title }}</i> <span  class="company">{{ testimonials.company }}</span></h3>
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}
{% if page.url == '/' %}
<div class="card-container">
    {% for testimonials in site.data.testimonials | limit: 3 %}
    <a class="reference-card third" href="../experience/#{{ testimonials.lastname }}">
        <q>{{ testimonials.quote }}</q>
        <span class="btn icon"><i data-feather="plus-circle"></i></span>
        <div class="image-title">
            <img src="../assets/images/testimonial-images/{{ testimonials.image }}" alt="Image of {{ testimonials.name }}"/>
            <h3><b class="name">{{ testimonials.name }}</b> <i class="title">{{ testimonials.title }}</i> <span class="company">{{ testimonials.company }}</span></h3>
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}
{% if page.url == '/experience/' %}
<div class="card-container all">
    {% for testimonials in site.data.testimonials %}
    <div class="reference-card half" id="{{ testimonials.lastname }}">
        <q>{{ testimonials.quote }}</q>
        <div class="image-title">
            <img src="../assets/images/testimonial-images/{{ testimonials.image }}" alt="Image of {{ testimonials.name }}"/>
            <h3><b>{{ testimonials.name }}</b> <i>{{ testimonials.title }}</i> <span>{{ testimonials.company }}</span></h3>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
