// color.scss
// Styles for Color
// @import "../variables.scss";

.bg-primary-00 {
    background-color: $primary-00;
}
.bg-primary-10 {
    background-color: $primary-10;
}
.bg-primary-25 {
    background-color: $primary-25;
}
.bg-primary-50 {
    background-color: $primary-50;
}
.bg-primary-75 {
    background-color: $primary-75;
}
.bg-primary-90 {
    background-color: $primary-90;
}
.bg-secondary-00 {
    background-color: $secondary-00;
}
.bg-secondary-10 {
    background-color: $secondary-10;
}
.bg-secondary-25 {
    background-color: $secondary-25;
}
.bg-secondary-50 {
    background-color: $secondary-50;
}
.bg-secondary-75 {
    background-color: $secondary-75;
}
.bg-secondary-90 {
    background-color: $secondary-90;
}
.bg-tertiary-00 {
    background-color: $tertiary-00;
}
.bg-tertiary-10 {
    background-color: $tertiary-10;
}
.bg-tertiary-25 {
    background-color: $tertiary-25;
}
.bg-tertiary-50 {
    background-color: $tertiary-50;
}
.bg-tertiary-75 {
    background-color: $tertiary-75;
}
.bg-tertiary-90 {
    background-color: $tertiary-90;
}
.bg-quaternary-00 {
    background-color: $quaternary-00;
}
.bg-quaternary-10 {
    background-color: $quaternary-10;
}
.bg-quaternary-25 {
    background-color: $quaternary-25;
}
.bg-quaternary-50 {
    background-color: $quaternary-50;
}
.bg-quaternary-75 {
    background-color: $quaternary-75;
}
.bg-quaternary-90 {
    background-color: $quaternary-90;
}
.bg-quinary-00 {
    background-color: $quinary-00;
}
.bg-quinary-10 {
    background-color: $quinary-10;
}
.bg-quinary-25 {
    background-color: $quinary-25;
}
.bg-quinary-50 {
    background-color: $quinary-50;
}
.bg-quinary-75 {
    background-color: $quinary-75;
}
.bg-quinary-90 {
    background-color: $quinary-90;
}
.bg-info-00 {
    background-color: $info-00;
}
.bg-success-00 {
    background-color: $success-00;
}
.bg-warning-00 {
    background-color: $warning-00;
}
.bg-error-00 {
    background-color: $error-00;
}
.bg-black-00 {
    background-color: $black-00;
}
.bg-dk-gray-00 {
    background-color: $dk-gray-00;
}
.bg-md-gray-00 {
    background-color: $md-gray-00;
}
.bg-lt-gray-00 {
    background-color: $lt-gray-00;
}
.bg-white-00 {
    background-color: $white-00;
}
