// tables.scss
// Styles for Tables
table {
    margin-top: $scale-5;
    td {
        padding: $scale-2 $scale-4;
    }

    th {
        padding: $scale-2 $scale-4;
        background-color: $lt-gray-00;
        text-align: left;
    }

    tr:nth-child(even) {
        background-color: rgba(1, 1, 1, .05);
    }
}

/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically. https://css-tricks.com/responsive-data-tables/
	*/
@media (max-width: 659px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    tr:nth-child(odd) {
        background: #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;

    }

    td:before {
        /* Top/left values mimic padding */
        margin-right: $scale-2;
    }

    /* Label the data */
    td:nth-of-type(1):before {
        content: "Short:";
        font-weight: bold;
    }

    td:nth-of-type(2):before {
        content: "Medium:";
        font-weight: bold;
    }

    td:nth-of-type(3):before {
        content: "Long:";
        font-weight: bold;
    }
}
