// tables.scss
// Styles for Tables
table {
    td {
        padding: $scale-2 $scale-4;
    }
    th {
        padding: $scale-2 $scale-4;
        background-color: $lt-gray-00;
        text-align: left;
    }
    tr:nth-child(even) {
        background-color: rgba(1,1,1,.05);
    }
}
