// images.scss
// Styles for Images
figure {
    position: relative;
}
figcaption {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    line-height: 1.4;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur($scale-1);
    font-family: Arial, sans-serif;
    color: black;
    padding: $scale-2 $scale-10 $scale-2 $scale-4;
    margin-bottom: $scale-2;
    max-width: 90%;
    h3 {
        font-family: $type-display-secondary;
        font-weight: $type-display-light;
        font-size: $h5-font-size;
        box-shadow: none;
        margin: 0;
    }
}
