// hover-style.scss
// Hover Style

.article, .reference-card.single, .reference-card.third, .card-portfolio a {
  position: relative;
}
.article:after, .reference-card.single:after, .reference-card.third:after, .card-portfolio a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 0px 0px #28D0C8;
  border-radius: $scale-2;
  transition: .15s ease-in;
}
.article:hover:after, .reference-card.single:hover:after, .reference-card.third:hover:after, .card-portfolio a:hover:after {
  cursor: pointer;
  top: -15px;
  left: -15px;
  padding: $scale-3 $scale-3;
  border-radius: $scale-4;
  box-shadow: inset 0px 0px 0px $scale-1 #28D0C8;
  z-index: 1;
  transition: .4s ease-in-out;
}
