// content-form.scss
// Form for Contact page

.nl-form {
  padding: $scale-10 $scale-10 0;
  margin: $scale-5 0 $scale-10;
  @media (max-width: 545px) {
    padding: $scale-5;
    margin: 0;
  }
  border: $border-width-wide solid $lt-gray-00;
  border-radius: $radius-medium;
  width: fit-content;
  input[type="text"], input[type="email"], input[type="tel"], input[type="number"], select {
    display: inline-flex;
    width: fit-content;
    margin: 0 $scale-1;
  }
  p {
    line-height: 3;
  }
  span {
    width: fit-content;
  }
  select {
    @media (max-width: 545px) {
      width: 90%;
    }
  }
}
