// carousel.scss
// Styles for the carousel component

.carousel-cell {
  display: flex;
  width: 100%;

  @media (max-width: 799px) {
    flex-direction: column-reverse;
  }
  .carousel-content {
    display: flex;
    flex: 4;
    flex-direction: column;
    margin: auto $scale-10 auto 0;
    @media (max-width: 799px) {
      margin-right: 0;
    }
    h2 {
      font-family: $type-display-secondary;
      font-weight: $type-display-light;
      font-size: $h3-font-size;
      @media (max-width: 499px) {
        font-size: $h5-font-size;
        font-family: $type-display-main;
        font-weight: $type-main-bold;
      }
    }
    .cta-container {
      margin-top: auto;
      margin-left: $scale-1;
      @media (max-width: 799px) {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .carousel-img {
    max-width: 50%;
    height: 297px;
    width: 496px;
    overflow: hidden;
    opacity: 0;
    animation: fade-in 1.5s forwards ease-out;
    @media (max-width: 799px) {
      max-width: 100%;
      width: 100%;
      max-height: 250px;
      padding-bottom: $scale-5;
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0%;
  }
}
.flickity-button {
  top: 100%;
}
.flickity-page-dots {
  bottom: (-$scale-10);
  .dot {
    width: $scale-6;
    height: $scale-2;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.25);
    &.is-selected {
      background-color: $secondary-00;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//FANCYBOX OVERRIDE
.fancybox__caption {
  max-width: 960px;
}