// header-footer.scss
// Styles for the structure components

// sets up sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  &.nested-page .nested, &.ty-page .contact {
    color: $secondary-00;
    cursor: default;
    &:hover {
      box-shadow: 0 0 0 0 $white-00, 0 0 0 0 $white-00;
    }
  }
}
// styles the navigation - this is before header and footer to accommodate for overrides
nav {
  display: flex;
  flex-wrap: wrap;
  a {
    position: relative;
    margin-right: $scale-10;
    @media (max-width: 1050px) { margin-right: $scale-5; }
    color: $white-00;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: $type-body-medium;
    font-size: $body-font-size;
    padding: $scale-2 0;
    box-shadow: 0 0 0 0 $white-00, 0 0 0 0 $white-00;
    transition: all 0.3s ease;
    &:last-of-type {
      // margin-right: 0;
    }
    &:hover {
      color: $white-00;
      box-shadow: 0 $scale-1 0 0 $white-00, 0 (-$scale-1) 0 0 $white-00;
    }
    &.active {
      color: $secondary-00;
      cursor: default;
      &:hover {
        box-shadow: 0 0 0 0 $white-00, 0 0 0 0 $white-00;
      }
    }
  }
  .badge-animation {
    &:after{
      position: absolute;
      z-index: 111;
      display: flex;
      justify-content: center;
      align-items: center;
      content: '11';
      top: 0;
      right: -20px;
      width: $scale-5;
      height: $scale-5;
      background: $error-00;
      border-radius: $radius-soft;
      font-size: $body-font-size - 2;
      line-height: 0;
      color: $white-00;
      transform: scale(0);
      animation: notification-bounce 1s cubic-bezier(0.34, 2, 0.64, 1) forwards;
    }
  }
}
// header styles
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: $black-00;
  padding: $scale-2 $scale-5 $scale-1;
  border-bottom: $scale-1 solid $white-00;
  box-shadow: $elevation-high;
  z-index: 99;
  position: sticky;
  top: 0;
  .branding {
    margin-right: $scale-5;
  }
}

@keyframes notification-bounce {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}
// main exists to push footer to the bottom on short desktop pages
main {
  flex: 1;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
// footer styles
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: $black-00;
  padding: $scale-3 $scale-5;
  margin-top: $scale-10;
  border-top: $scale-1 solid $white-00;
  line-height: 2;
  p {
    font-size: $small-font-size;
    color: $md-gray-00;
  }
  nav {
    a {
      font-size: $small-font-size;
    }
    .footer-nav {
      margin-right: $scale-5;
    }
    .subnav {
      margin-right: $scale-5;
        a {
          text-transform: unset;
          font-weight: $type-main-regular;
          color: $primary-00;
        }
    }
  }
}
section {
  margin: $scale-20 $scale-10;
  @media (max-width: 659px) {
    margin: $scale-20 $scale-5;
  }
  @media (max-width: 419px) {
    margin: $scale-20 $scale-5;
  }
  .details {
    margin-top: $scale-10;
  }
  .flex-two-col {
    display: flex;
    @media (max-width: 859px) {
      flex-direction: column;
    }
    justify-content: space-between;
    .col-left {
      display: flex;
      flex: 3;
      flex-direction: column;
      margin-right: $scale-10;
      @media (max-width: 699px) {
        margin-right: 0;
      }
    }
    .col-right {
      display: flex;
      flex: 1;
      flex-direction: column;
      min-width: 350px;
      @media (max-width: 699px) {
        min-width: unset;
      }
    }
  }
  .flex-three-col {
    display: flex;
    flex-wrap: wrap;
    .col-left {
      flex: 1;
      margin-right: $scale-5;
      margin-bottom: $scale-10;
      padding: 0 $scale-5 0 0;
    }
    .col-center {
      flex: 1;
      margin-right: $scale-5;
      margin-bottom: $scale-10;
      padding: 0 $scale-5;
    }
    .col-right {
      flex: 1;
      padding: 0 0 0 $scale-5;
    }
    @media (max-width: 699px) {
      .col-left, .col-center, .col-right {
        padding: 0;
      }
    }
  }
}
