// cards.scss
// Styles for the card components

.card-dark {
  background-color: $black-00;
  color: $white-00;
  padding: $scale-10;
  margin-top: $scale-5;
  border-top: $scale-1 solid $white-00;
  border-bottom: $scale-1 solid $white-00;
  h2 {
    max-width: 40%;
  }
  .subtitle {
    color: $primary-00;
    font-size: $h5-font-size;
    margin-bottom: $scale-5;
  }
  p {
    color: $white-00;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  &.all {
    display: block;
    columns: 2;
  }
  .reference-card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    box-shadow: none;
    .image-title {
      display: flex;
      align-items: flex-end;
      img {
        width: 100px;
        margin-right: $scale-4;
      }
    }
    h3 {
      display: flex;
      flex-direction: column;
      font-size: $body-font-size;
      width: 100%;
      padding: 0;
      margin: 0;
      letter-spacing: 0;
      line-height: 1.4;
      box-shadow: none;
    }
    &.third, &.single {
      p {
        font-size: $body-font-size;
        height: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
      .btn.text {
        margin-left: auto;
      }
    }
    &.third {
      width: 33%;
      p {
        width: 300px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
    }
  }
}

.card-portfolio {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: $scale-20 $scale-10;
  @media (max-width: 799px) {
      flex-direction: column;
  }
  a {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(50% - #{$scale-5});
    &:nth-of-type(odd) {
        margin-right: $scale-5;
    }
    &:nth-of-type(even) {
        margin-left: $scale-5;
    }
    &:nth-of-type(1),
    &:nth-of-type(2) {
        margin-bottom: $scale-10;
    }
    @media (max-width: 799px) {
        margin-left: 0 !important;
        margin-bottom: $scale-8 !important;
        width: 100%;
    }

    img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
    }
    figcaption {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        line-height: 1.4;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur($scale-1);
        font-family: Arial, sans-serif;
        color: black;
        padding: $scale-2 $scale-10 $scale-2 $scale-4;
        margin-bottom: $scale-2;
        max-width: 90%;
        h3 {
          font-family: $type-display-secondary;
          font-weight: $type-display-light;
          font-size: $h5-font-size;
          box-shadow: none;
          margin: 0;
        }
        p {
            @media (max-width: 599px) {
                font-size: 0;
            }
        }
    }
  }
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: $scale-20 $scale-10;
  @media (max-width: 649px) {
      flex-direction: column;
  }
  h3 {
    box-shadow: none;
    font-size: $body-font-size;
    font-weight: $type-body-bold;
    letter-spacing: 0;
    margin: 0;
  }
  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 200px;
    max-width: 20%;
    @media (max-width: 1024px) {
        margin-right: $scale-10;
    }
        @media (max-width: 649px) {
        margin-bottom: $scale-10;
    }
  }
  .list {
    flex: 2;
    columns: 2 200px;
    column-gap: $scale-20;
    max-width: 55%;
    .article {
        display: flex;
        flex-direction: column;
        margin: $scale-5 0;
        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
  }
}
.process-container {
  display: flex;
  .sidebar {
    max-width: 25%;
  }

  .phase-container {
    border: 5px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 300;
            font-size: 24px;
        }
        .duration-cost {
            display: inline-block;
            width: fit-content;
            background-color: #232323;
            color: #ffffff;
            padding: 5px 50px;
            margin-right: -20px;
        }
    }
    .middle {
        display: flex;
        flex-direction: row;
        div:first-of-type {
            margin-right: 25px;
        }
    }
    .toggle-content {
        display: none;
        height: 0;
        overflow: hidden;
        transition: height 350ms ease-in-out;
    }

    .toggle-content.is-visible {
        display: block;
        height: auto;
    }
  }
}
