// carousel.scss
// Styles for the carousel component

.carousel-cell {
  display: flex;
  width: 100%;

  @media (max-width: 599px) {
    flex-direction: column-reverse;
  }
  .carousel-content {
    display: flex;
    flex: 4;
    flex-direction: column;
    margin-right: $scale-10;
    p {
      @media (max-width: 599px) {
        font-size: 0;
      }
    }
    .cta-container {
      margin-top: auto;
    }
  }
  .carousel-img {
    flex: 1;
  }
  img {
    height: calc(297px * 0.75);
    width: calc(496px * 0.75);
    @media (max-width: 599px) {
      width: 100%;
      padding-bottom: $scale-5;
    }
    object-fit: cover;
  }
}
.flickity-button {
  &.previous {
    left: (-$scale-10);
  }
  &.next {
    right: (-$scale-10);
  }
  .flickity-button-icon {
    fill: rgba(1, 1, 1, 0.8);
  }
}
.flickity-page-dots {
  bottom: (-$scale-10);
  .dot {
    width: $scale-8;
    height: $scale-2;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.25);
    &.is-selected {
      background-color: $secondary-00;
    }
  }
}
