// cards.scss
// Styles for the card components

:root {
  --random-deg: -2deg;
}

.card-dark {
  display: flex;
  // align-items: center;
  flex-wrap: wrap;
  background-color: $black-00;
  color: $white-00;
  padding: $scale-10;
  margin-top: $scale-5;
  border-top: $scale-1 solid $white-00;
  border-bottom: $scale-1 solid $white-00;
  box-shadow: -50vw 0 0 (-$scale-1) $black-00, 50vw 0 0 (-$scale-1) $black-00, -25vw 0 0 (-$scale-1) $black-00, 25vw 0 0 (-$scale-1) $black-00;
  .subtitle {
    color: $primary-00;
    font-size: $h5-font-size;
    margin-bottom: $scale-5;
  }
  p {
    color: $white-00;
    line-height: 1.8;
  }
  &.short-card {
    padding: $scale-1 $scale-10;
    .subtitle {
      margin-bottom: $scale-1;
    }
  }
  .content-container {
    flex: 1;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: $scale-5;
  .reference-card {
    position: relative;
    quotes: "“" "”";
    display: flex;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin: 0 $scale-2;
    border-radius: $scale-2;
    background-color: $white-00;
  &::after {
      content: '';
  }
    .image-title {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: $primary-00;
      padding: 0 $scale-5 $scale-5;
      border-radius: 0 0 $scale-2 $scale-2;
      img {
        width: 100px;
        border-radius: 100%;
        margin-top: -($scale-5);
      }
    }
    h3 {
      display: flex;
      flex-direction: column;
      font-size: $body-font-size;
      text-align: center;
      width: 100%;
      padding: 0;
      margin: 0;
      letter-spacing: 0;
      line-height: 1.4;
      box-shadow: none;
    }
    &.third, &.single {
      max-width: 400px;
      @media (max-width: 899px) {
        max-width: 100%;
      }
      flex: 1 calc(33.333% - #{$scale-4});
      @media (max-width: 899px) {
        flex: unset;
      }
      q {
        font-size: $body-font-size;
        font-style: normal;
        height: 100%;
        padding: $scale-5 $scale-5 $scale-10;
      }
      .name {
        font-size: $h5-font-size;
        font-weight: 500;
      }
      .name, .title, .company {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
      .btn.icon {
        margin-left: auto;
      }
    }
    &.third {
      margin-top: $scale-5;
      @media (max-width: 899px) {
        q {
          padding-bottom: $scale-5;
        }
        .image-title {
          flex-direction: row;
          padding: $scale-2 $scale-4;
          img {
            margin: 0 $scale-3 0 0;
          }
          h3 {
            text-align: left;
          }
        }
      }
    }
    &.half {
      padding: $scale-20 $scale-4;
      display: flex;
      flex-direction: row;
      @media (max-width: 699px) {
        flex-direction: column;
      }
      box-shadow: 0px 16px 10px -18px $black-00;
      &::before {
        order: 2;
      }
      q {
        flex: 2;
        order: 2;
      }
      .image-title {
        flex-direction: column;
        width: 200px;
        @media (max-width: 699px) {
          width: 100%;
        }
        align-items: flex-start;
        margin-right: $scale-5;
        margin-top: $scale-2;
        @media (max-width: 699px) {
          margin: 0 0 $scale-5;
        }
        z-index: -2;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.card-portfolio {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: $scale-5;
  @media (max-width: 799px) {
    flex-direction: column;
  }
  a {
    display: flex;
    flex-basis: calc(50% - #{$scale-5});
    justify-content: space-between;
    height: 250px;
    min-height: 250px;
    max-height: 250px;
    margin-bottom: $scale-10;
    @media (max-width: 799px) {
      margin-left: 0 !important;
      margin-bottom: $scale-8 !important;
      width: 100%;
    }
    figure {
      border-radius: $scale-2;
      overflow: hidden;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: $scale-2;
      object-fit: cover;
      object-position: 0 0;
    }
    h3 {
      font-family: $type-display-secondary;
      font-weight: $type-display-light;
      font-size: $h5-font-size;
      box-shadow: none;
      margin: 0;
    }
    p {
      @media (max-width: 599px) {
          font-size: 0;
      }
    }
  }
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: $scale-20 $scale-10;
  @media (max-width: 899px) {
      flex-direction: column;
      align-items: flex-start;
  }
  h2 {
    @media (max-width: 899px) {
      margin-bottom: $scale-6;
    }
  }
  h3 {
    box-shadow: none;
    font-size: $body-font-size;
    font-weight: $type-body-bold;
    letter-spacing: 0;
    margin: 0 0 $scale-1 0;
  }
  p {
    font-size: $body-font-size - 2;
  }
  .content {
    display: flex;
    flex: 1;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    flex-direction: row;
    @media (max-width: 899px) {
      flex-direction: column;
    }
    .column {
      flex: 1;
      margin-left: $scale-10;
      @media (max-width: 899px) {
        margin-left: $scale-2;
        margin-top: $scale-5;
      }
    }
    .article {
        display: flex;
        flex-direction: column;
        margin: $scale-5 0;
        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
  }
}
.process-container {
  display: flex;
  h3 {
    font-family: $type-display-secondary;
    font-weight: $type-body-light;
    font-size: $h4-font-size;
  }
  .sidebar {
    border: $border-width-wide solid $lt-gray-00;
    border-radius: $radius-medium;
    max-width: 33.33%;
    padding: $scale-5 $scale-4;
    margin-top: $scale-5;
    height: fit-content;
    .estimate-overview {
      margin: $scale-4 (-$scale-4);
      padding: $scale-1 $scale-4;
      background-color: $black-00;
      i, b {
        color: $white-00;
        font-size: $h6-font-size;
      }
    }
  }

  .phase-container {
    border: $border-width-wide solid $lt-gray-00;
    border-radius: $radius-medium;
    display: flex;
    flex-direction: column;
    padding: $scale-5 $scale-4;
    margin-top: $scale-10;
    &:last-of-type {
      margin-bottom: 0;
    }
    .top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        .duration-cost {
            display: inline-block;
            width: fit-content;
            background-color: $black-00;
            color: $white-00;
            padding: $scale-1 $scale-10;
            margin-right: -($scale-4);
        }
    }
    .middle {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        div:first-of-type {
            margin-right: $scale-5;
        }
        .purpose, .deliverables {
          flex: 1;
          @media (max-width: 659px) {
            flex: unset;
            margin-right: 0;
          }
        }
    }
    .toggle-content {
        display: none;
        height: 0;
        overflow: hidden;
        transition: height 350ms ease-in-out;
    }

    .toggle-content.is-visible {
        display: block;
        height: auto;
    }
  }
}

.examples-container {
  display: flex;
  @media (max-width: 959px) {
    flex-direction: column;
  }
  .content-column {
    flex: 1;
  }
  h3 {
    font-family: $type-display-secondary;
    font-weight: $type-body-light;
    font-size: $h4-font-size;
    margin-top: $scale-6;
    margin-bottom: $scale-3;
    &:first-of-type {
      margin-top: 0;
    }
  }
  .image-column {
    flex: 1;
    margin-left: $scale-10;
    max-width: 480px;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    height: 100%;
    @media (max-width: 959px) {
      margin: $scale-10 auto 0;
    }
    .single {
      margin-bottom: $scale-5;
      img {
        width: 100%;
        height: 270px;
        object-fit: cover;
      }
    }
    .double {
      display: flex;
      justify-content: space-between;
      margin-bottom: $scale-5;
      a:nth-last-of-type(even) {
        margin-right: $scale-5;
      }
      img {
        width: 100%;
        height: 128px;
        object-fit: cover;
        &:nth-of-type(2) {
          margin-left: $scale-5;
        }
      }
    }
    a {
      position: relative;
      width: 100%;
      height: 100%;
      display: inline-block;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px 0px 0px 0px #28d0c8;
        border-radius: 0;
        transition: .15s ease-in;
      }
      &:hover:after {
        cursor: pointer;
            top: -15px;
            left: -15px;
            padding: 15px 15px;
            border-radius: 10px;
            box-shadow: inset 0px 0px 0px 5px #28d0c8;
            z-index: 1;
            transition: .4s ease-in-out;
      }
    }
  }
}

.card-dark .card-container {
  width: max-content;
  max-height: 250px;
  margin-top: 0;
  @media (max-width: 899px) {
    max-height: unset;
    margin-top: $scale-5;
  }
  .reference-card.single {
    background-color: #333333;
    min-width: 400px;
    height: min-content;
    opacity: 0; 
    animation: rotate-in 1.5s forwards ease-out;
    margin: 0 (-$scale-6) 0 $scale-12;
    @media (max-width: 899px) {
      min-width: unset;
      margin: 0;
    }
    q {
      font-size: calc($body-font-size - 2);
      font-weight: 400;
      padding: $scale-4;
      color: $white-00;
      &:before, &:after {
        color: $primary-00;
      }
    }
    h3 {
      text-align: left;
    }
    .image-title {
      align-items: center;
      flex-direction: row-reverse;
      padding: $scale-2 $scale-4;
      background-color: #FFFFFF;
      picture {
        height: 70px;
        filter: grayscale(100%);
      }
      img {
        margin: 0;
        width: 70px;
      }
      .name, .title, .company {
        font-size: calc($body-font-size - 2);
      }
    }
  }
}

@keyframes rotate-in {
  0% {
    transform: scale(1.1) rotateZ(0deg);
    opacity: 0;
  }
  25% {
    transform: scale(1.1) rotateZ(0deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotateZ(var(--random-deg));
    opacity: 1;
  }
}