// cards.scss
// Styles for the card components

.card-dark {
  background-color: $black-00;
  color: $white-00;
  padding: $scale-10;
  margin-top: $scale-5;
  border-top: $scale-1 solid $white-00;
  border-bottom: $scale-1 solid $white-00;
  .subtitle {
    color: $primary-00;
    font-size: $h5-font-size;
    margin-bottom: $scale-5;
  }
  p {
    color: $white-00;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .reference-card {
    position: relative;
    quotes: "“" "”";
    display: flex;
    flex-direction: column;
    text-decoration: none;
    box-shadow: none;
    &::before {
      font-family: 'PT Mono';
      content: open-quote;
      display: inline;
      height: 0;
      line-height: 0;
      position: relative;
      top: 110px;
      left: -40px;
      color: $black-00;
      opacity: .15;
      font-size: 240px;
      width: 0;
      z-index: -1;
  }
  &::after {
      content: '';
  }
    .image-title {
      display: flex;
      align-items: flex-end;
      img {
        width: 100px;
        margin-right: $scale-4;
      }
    }
    h3 {
      display: flex;
      flex-direction: column;
      font-size: $body-font-size;
      width: 100%;
      padding: 0;
      margin: 0;
      letter-spacing: 0;
      line-height: 1.4;
      box-shadow: none;
    }
    &.third, &.single {
      max-width: 400px;
      margin-top: $scale-10;
      padding: $scale-4;
      flex: 1;
      q {
        font-size: $body-font-size;
        height: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
      }
      .btn.text {
        margin-left: auto;
      }
    }
    &.third {
      q {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
      }
    }
    &.half {
      padding: $scale-20 $scale-4;
      display: flex;
      flex-direction: row;
      @media (max-width: 699px) {
        flex-direction: column;
      }
      box-shadow: 0px 16px 10px -18px $black-00;
      &::before {
        order: 2;
      }
      q {
        flex: 2;
        order: 2;
      }
      .image-title {
        flex-direction: column;
        width: 200px;
        @media (max-width: 699px) {
          width: 100%;
        }
        align-items: flex-start;
        margin-right: $scale-5;
        margin-top: $scale-2;
        @media (max-width: 699px) {
          margin: 0 0 $scale-5;
        }
        z-index: -2;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.card-portfolio {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  @media (max-width: 799px) {
    flex-direction: column;
  }
  a {
    background-color: lightgray;
    display: flex;
    flex-basis: calc(50% - #{$scale-5});
    justify-content: space-between;
    height: 250px;
    margin-bottom: $scale-10;
    &:nth-of-type(odd) {
      margin-right: $scale-5;
    }
    &:nth-of-type(even) {
      margin-left: $scale-5;
    }
    @media (max-width: 799px) {
      margin-left: 0 !important;
      margin-bottom: $scale-8 !important;
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h3 {
      font-family: $type-display-secondary;
      font-weight: $type-display-light;
      font-size: $h5-font-size;
      box-shadow: none;
      margin: 0;
    }
    p {
      @media (max-width: 599px) {
          font-size: 0;
      }
    }
  }
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: $scale-20 $scale-10;
  @media (max-width: 659px) {
      flex-direction: column;
  }
  h3 {
    box-shadow: none;
    font-size: $body-font-size;
    font-weight: $type-body-bold;
    letter-spacing: 0;
    margin: 0;
  }
  .content {
    display: flex;
    flex: 1;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    flex-direction: row;
    @media (max-width: 799px) {
      flex-direction: column;
    }
    .column {
      flex: 1;
      margin-left: $scale-10;
      @media (max-width: 659px) {
        margin-left: 0;
        margin-top: $scale-5;
      }
    }
    .article {
        display: flex;
        flex-direction: column;
        margin: $scale-5 0;
        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
  }
}
.process-container {
  display: flex;
  h3 {
    font-family: $type-display-secondary;
    font-weight: $type-body-light;
    font-size: $h5-font-size;
  }
  .sidebar {
    border: $border-width-wide solid $lt-gray-00;
    border-radius: $radius-medium;
    max-width: 33.33%;
    padding: $scale-5 $scale-4;
    margin-top: $scale-5;
    height: fit-content;
    .estimate-overview {
      margin: $scale-4 (-$scale-4);
      padding: $scale-1 $scale-4;
      background-color: $black-00;
      i, b {
        color: $white-00;
        font-size: $h6-font-size;
      }
    }
  }

  .phase-container {
    border: $border-width-wide solid $lt-gray-00;
    border-radius: $radius-medium;
    display: flex;
    flex-direction: column;
    padding: $scale-5 $scale-4;
    margin-top: $scale-10;
    &:last-of-type {
      margin-bottom: 0;
    }
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .duration-cost {
            display: inline-block;
            width: fit-content;
            background-color: $black-00;
            color: $white-00;
            padding: $scale-1 $scale-10;
            margin-right: -($scale-4);
        }
    }
    .middle {
        display: flex;
        flex-direction: row;
        div:first-of-type {
            margin-right: $scale-5;
        }
        .purpose, .deliverables {
          flex: 1;
        }
    }
    .toggle-content {
        display: none;
        height: 0;
        overflow: hidden;
        transition: height 350ms ease-in-out;
    }

    .toggle-content.is-visible {
        display: block;
        height: auto;
    }
  }
}

.examples-container {
  display: flex;
  @media (max-width: 959px) {
    flex-direction: column;
  }
  .content-column {
    flex: 1;
    p {
      margin-bottom: $scale-5;
    }
  }
  .image-column {
    flex: 1;
    margin-left: $scale-10;
    max-width: 480px;
    @media (max-width: 959px) {
      margin: $scale-10 auto 0;
    }
    // max-width: 480px;
    .single {
      margin-bottom: $scale-5;
      img {
        width: 480px;
        height: 270px;
        object-fit: cover;
      }
    }
    .double {
      display: flex;
      justify-content: space-between;
      margin-bottom: $scale-5;
      img {
        width: 227px;
        height: 128px;
        object-fit: cover;
        &:nth-of-type(2) {
          margin-left: $scale-5;
        }
      }
    }
  }
}
