// demo-scale-spacing.scss
// Styles for demonstrating Scale and Spacing
// @import "../variables.scss";
// @import "../style-guide-structure.scss";

// is this right? does this need a mixin?
@mixin scale-demo-mixin($height, $width, $name) {
    height: $height;
    width: $width;
    &::before{
        content: "#{$name}";

    }
}

.demo-scale-width-1 {
    @include scale-demo-mixin($scale-1, $scale-1, $scale-1);
    background-color: $demo-width-color;
}
.demo-scale-width-2 {
    @include scale-demo-mixin($scale-1, $scale-2, $scale-2);
    background-color: $demo-width-color;
}
.demo-scale-width-3 {
    @include scale-demo-mixin($scale-1, $scale-3, $scale-3);
    background-color: $demo-width-color;
}
.demo-scale-width-4 {
    @include scale-demo-mixin($scale-1, $scale-4, $scale-4);
    background-color: $demo-width-color;
}
.demo-scale-width-5 {
    @include scale-demo-mixin($scale-1, $scale-5, $scale-5);
    background-color: $demo-width-color;
}
.demo-scale-width-6 {
    @include scale-demo-mixin($scale-1, $scale-6, $scale-6);
    background-color: $demo-width-color;
}
.demo-scale-width-7 {
    @include scale-demo-mixin($scale-1, $scale-7, $scale-7);
    background-color: $demo-width-color;
}
.demo-scale-width-8 {
    @include scale-demo-mixin($scale-1, $scale-8, $scale-8);
    background-color: $demo-width-color;
}
.demo-scale-width-9 {
    @include scale-demo-mixin($scale-1, $scale-9, $scale-9);
    background-color: $demo-width-color;
}
.demo-scale-width-10 {
    @include scale-demo-mixin($scale-1, $scale-10, $scale-10);
    background-color: $demo-width-color;
}
.demo-scale-width-11 {
    @include scale-demo-mixin($scale-1, $scale-11, $scale-11);
    background-color: $demo-width-color;
}
.demo-scale-width-12 {
    @include scale-demo-mixin($scale-1, $scale-12, $scale-12);
    background-color: $demo-width-color;
}
.demo-scale-width-13 {
    @include scale-demo-mixin($scale-1, $scale-13, $scale-13);
    background-color: $demo-width-color;
}
.demo-scale-width-14 {
    @include scale-demo-mixin($scale-1, $scale-14, $scale-14);
    background-color: $demo-width-color;
}
.demo-scale-width-15 {
    @include scale-demo-mixin($scale-1, $scale-15, $scale-15);
    background-color: $demo-width-color;
}
.demo-scale-width-16 {
    @include scale-demo-mixin($scale-1, $scale-16, $scale-16);
    background-color: $demo-width-color;
}
.demo-scale-width-17 {
    @include scale-demo-mixin($scale-1, $scale-17, $scale-17);
    background-color: $demo-width-color;
}
.demo-scale-width-18 {
    @include scale-demo-mixin($scale-1, $scale-18, $scale-18);
    background-color: $demo-width-color;
}
.demo-scale-width-19 {
    @include scale-demo-mixin($scale-1, $scale-19, $scale-19);
    background-color: $demo-width-color;
}
.demo-scale-width-20 {
    @include scale-demo-mixin($scale-1, $scale-20, $scale-20);
    background-color: $demo-width-color;
}
.demo-scale-width-21 {
    @include scale-demo-mixin($scale-1, $scale-21, $scale-21);
    background-color: $demo-width-color;
}
.demo-scale-width-22 {
    @include scale-demo-mixin($scale-1, $scale-22, $scale-22);
    background-color: $demo-width-color;
}
.demo-scale-width-23 {
    @include scale-demo-mixin($scale-1, $scale-23, $scale-23);
    background-color: $demo-width-color;
}
.demo-scale-width-24 {
    @include scale-demo-mixin($scale-1, $scale-24, $scale-24);
    background-color: $demo-width-color;
}
.demo-scale-width-25 {
    @include scale-demo-mixin($scale-1, $scale-25, $scale-25);
    background-color: $demo-width-color;
}
.demo-scale-width-26 {
    @include scale-demo-mixin($scale-1, $scale-26, $scale-26);
    background-color: $demo-width-color;
}
.demo-scale-width-27 {
    @include scale-demo-mixin($scale-1, $scale-27, $scale-27);
    background-color: $demo-width-color;
}
.demo-scale-width-28 {
    @include scale-demo-mixin($scale-1, $scale-28, $scale-28);
    background-color: $demo-width-color;
}
.demo-scale-width-29 {
    @include scale-demo-mixin($scale-1, $scale-29, $scale-29);
    background-color: $demo-width-color;
}
.demo-scale-width-30 {
    @include scale-demo-mixin($scale-1, $scale-30, $scale-30);
    background-color: $demo-width-color;
}


.demo-scale-height-1 {
    @include scale-demo-mixin($scale-1, $scale-1, $scale-1);
    background-color: $demo-height-color;
}
.demo-scale-height-2 {
    @include scale-demo-mixin($scale-2, $scale-1, $scale-2);
    background-color: $demo-height-color;
}
.demo-scale-height-3 {
    @include scale-demo-mixin($scale-3, $scale-1, $scale-3);
    background-color: $demo-height-color;
}
.demo-scale-height-4 {
    @include scale-demo-mixin($scale-4, $scale-1, $scale-4);
    background-color: $demo-height-color;
}
.demo-scale-height-5 {
    @include scale-demo-mixin($scale-5, $scale-1, $scale-5);
    background-color: $demo-height-color;
}
.demo-scale-height-6 {
    @include scale-demo-mixin($scale-6, $scale-1, $scale-6);
    background-color: $demo-height-color;
}
.demo-scale-height-7 {
    @include scale-demo-mixin($scale-7, $scale-1, $scale-7);
    background-color: $demo-height-color;
}
.demo-scale-height-8 {
    @include scale-demo-mixin($scale-8, $scale-1, $scale-8);
    background-color: $demo-height-color;
}
.demo-scale-height-9 {
    @include scale-demo-mixin($scale-9, $scale-1, $scale-9);
    background-color: $demo-height-color;
}
.demo-scale-height-10 {
    @include scale-demo-mixin($scale-10, $scale-1, $scale-10);
    background-color: $demo-height-color;
}
.demo-scale-height-11 {
    @include scale-demo-mixin($scale-11, $scale-1, $scale-11);
    background-color: $demo-height-color;
}
.demo-scale-height-12 {
    @include scale-demo-mixin($scale-12, $scale-1, $scale-12);
    background-color: $demo-height-color;
}
.demo-scale-height-13 {
    @include scale-demo-mixin($scale-13, $scale-1, $scale-13);
    background-color: $demo-height-color;
}
.demo-scale-height-14 {
    @include scale-demo-mixin($scale-14, $scale-1, $scale-14);
    background-color: $demo-height-color;
}
.demo-scale-height-15 {
    @include scale-demo-mixin($scale-15, $scale-1, $scale-15);
    background-color: $demo-height-color;
}
.demo-scale-height-16 {
    @include scale-demo-mixin($scale-16, $scale-1, $scale-16);
    background-color: $demo-height-color;
}
.demo-scale-height-17 {
    @include scale-demo-mixin($scale-17, $scale-1, $scale-17);
    background-color: $demo-height-color;
}
.demo-scale-height-18 {
    @include scale-demo-mixin($scale-18, $scale-1, $scale-18);
    background-color: $demo-height-color;
}
.demo-scale-height-19 {
    @include scale-demo-mixin($scale-19, $scale-1, $scale-19);
    background-color: $demo-height-color;
}
.demo-scale-height-20 {
    @include scale-demo-mixin($scale-20, $scale-1, $scale-20);
    background-color: $demo-height-color;
}
.demo-scale-height-21 {
    @include scale-demo-mixin($scale-21, $scale-1, $scale-21);
    background-color: $demo-height-color;
}
.demo-scale-height-22 {
    @include scale-demo-mixin($scale-22, $scale-1, $scale-22);
    background-color: $demo-height-color;
}
.demo-scale-height-23 {
    @include scale-demo-mixin($scale-23, $scale-1, $scale-23);
    background-color: $demo-height-color;
}
.demo-scale-height-24 {
    @include scale-demo-mixin($scale-24, $scale-1, $scale-24);
    background-color: $demo-height-color;
}
.demo-scale-height-25 {
    @include scale-demo-mixin($scale-25, $scale-1, $scale-25);
    background-color: $demo-height-color;
}
.demo-scale-height-26 {
    @include scale-demo-mixin($scale-26, $scale-1, $scale-26);
    background-color: $demo-height-color;
}
.demo-scale-height-27 {
    @include scale-demo-mixin($scale-27, $scale-1, $scale-27);
    background-color: $demo-height-color;
}
.demo-scale-height-28 {
    @include scale-demo-mixin($scale-28, $scale-1, $scale-28);
    background-color: $demo-height-color;
}
.demo-scale-height-29 {
    @include scale-demo-mixin($scale-29, $scale-1, $scale-29);
    background-color: $demo-height-color;
}
.demo-scale-height-30 {
    @include scale-demo-mixin($scale-30, $scale-1, $scale-30);
    background-color: $demo-height-color;
}
