/* buttons.scss */
/* Styles for Buttons */
/* TRUE HTML BUTTON RESET - https://css-tricks.com/overriding-default-button-styles/ */
button, input[type=submit], input[type=button], input[type=reset] {
    background: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:focus-visible {
        outline: var(--border-width-wide) solid var(--primary-00);
        outline-offset: calc(var(--scale-1) * -1);
    }
}


/* ANCHORS AS BUTTONS STYLING */
.btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--black-00);
    text-decoration: none;
    text-transform: uppercase;
    padding: var(--scale-1) var(--scale-6);
    margin: var(--scale-5) var(--scale-2) var(--scale-5) 0;
    border-radius: var(--radius-medium);
    box-shadow: var(--fake-medium) var(--black-00);
    width: -moz-fit-content;
    width: fit-content;
    transition: .25s ease-in-out;
    &.primary {
        background-color: var(--black-00);
        color: var(--white-00);
        box-shadow: var(--fake-medium) var(--black-00);
        &:hover {
            background-color: var(--secondary-00);
            color: var(--black-00);
            box-shadow: var(--fake-wide) var(--dk-gray-00);
        }
    }
    &.white {
        color: var(--white-00);
        box-shadow: var(--fake-medium) var(--white-00);
        &:hover {
            color: var(--secondary-00);
            box-shadow: var(--fake-medium) var(--secondary-00);
        }
    }
    &.secondary {
        background-color: var(--primary-00);
        box-shadow: var(--fake-medium) var(--primary-00);
        &:hover {
            background-color: var(--dk-gray-00);
            color: var(--white-00);
            box-shadow: var(--fake-wide) var(--secondary-00);
        }
    }
    &.tertiary {
        background-color: var(--lt-gray-00);
        color: var(--dk-gray-00);
        box-shadow: var(--fake-medium) var(--lt-gray-00);
        &:hover {
            box-shadow: var(--fake-wide) var(--secondary-00);
        }
    }
    &.text {
        padding: var(--scale-1) var(--scale-2);
        border-radius: 0;
        margin: 0;
        box-shadow: 0 1px 0 0 var(--secondary-00);
        &:hover {
            box-shadow: 0 var(--scale-2) 0 calc(var(--scale-1) * -1) var(--secondary-00);
        }
    }
    &:disabled {
        box-shadow: var(--fake-medium) var(--lt-gray-00);
        color: var(--lt-gray-00);
        cursor: default;
        &:hover {
            box-shadow: var(--fake-medium) var(--lt-gray-00);
            color: var(--lt-gray-00);
        }
    }
    &.svg-before {
        svg {
            margin-left: calc(var(--scale-2) * -1);
            margin-right: var(--scale-2);
        }
    }
    &.svg-after {
        svg {
            margin-left: var(--scale-2);
            margin-right: calc(var(--scale-2) * -1);
        }
    }
    svg {
        pointer-events: none;
    }
}
