<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navigation.html %}
    <main>
      <!-- <section>
        {% include carousel.html %}
      </section> -->
      {% include card-dark.html %}
      <section class="section-tight-bottom">
        <h2>{{ page.main-title-01 }}</h2>
        {% include portfolio.html group="leadership" %}
      </section>
      <section class="section-tight-top">
        <h2>{{ page.main-title-01b }}</h2>
        {% include portfolio.html group="case-study" %}
        <p>{{ page.work-link }}</p>
      </section>
      <hr>
      <section>
        {% include articles.html %}
      </section>
      <hr>
      <section>
        <h2>{{ page.main-title-02 }}</h2>
        <p>{{ page.content-02 }}</p>

        <div class="card-container">
          {% include testimonial-card.html variant="third" path-prefix=".." %}
          {% include testimonial-card.html variant="third" path-prefix=".." %}
          {% include testimonial-card.html variant="third" path-prefix=".." %}
        </div>
      </section>
    </main>

    {% include footer.html %}
  </body>
</html>
