<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include navigation.html %}
    <main>
      <section>
        {% include carousel.html %}
      </section>
      {% include card-dark.html %}
      <section>
        <h2>{{ page.main-title-01 }}</h2>
        {% include portfolio.html %}
      </section>
      <hr>
      <section>
        <h2>{{ page.main-title-02 }}</h2>
        <p>{{ page.content-02 }}</p>
        {% include references.html %}
      </section>
      <hr>
      <section class="blog-container">
        <div class="content">
          <h2>{{ page.main-title-03 }}</h2>
        </div>
        {% include articles.html %}
      </section>
    </main>

    {% include footer.html %}
  </body>
</html>
