<!doctype html>
<html lang="en">
{% include head.html %}

<body {% if page.url == '/thank-you/' %}class="ty-page" {% endif %}>
  {% include navigation.html %}
  <main>
    {% include card-dark.html %}
    <section style="margin-top: 50px">
      <h2>{{ page.sidebar-title01 }}</h2>
      <div class="card-container">
        {% for subnav in site.data.subnav %}
        <a class="btn {{ subnav.priority }} svg-after" href="{{ subnav.url }}" target="_blank" rel="noopener">{{ subnav.title }} <i data-feather="{{ subnav.icon }}"></i></a>
        {% endfor %}
    </section>
    <hr>
    <section>
      <h2>{{ page.sidebar-title02 }}</h2>
      <p>{{ page.work-link }}</p>
      {% include portfolio.html %}
    </section>
  </main>
  {% include footer.html %}
</body>

</html>
