<!doctype html>
<html lang="en">
  {% include head.html %}
  <body class="nested-page">
    {% include navigation.html %}
    <div class="card-dark">
      <a href="/projects/" class="btn text white  svg-before"><i data-feather="arrow-left"></i> Work Examples </a><br>
      <h2>{{ page.project }}</h2>
      <p class="subtitle">Role: {{ page.role }}</p>
    </div>
    <main>
      <section class="examples-container">
        <div class="content-column">
          <h3>Client</h3>
          <p>{{ page.client }}, {{ page.year }}</p>
          <p>Created for: {% if page.underurl %}<a href="{{ page.underurl }}" target="_blank" rel="noopener">{% endif %} {{ page.under }} {% if page.underurl %}</a>{% endif %} </p>
          {% if page.phases %}
          <h3>Project Phases</h3>
          <p>{{ page.phases }}</p>
          {% endif %}
          <h3>Tools</h3>
          <p>{{ page.tools }}</p>
          {% if page.overview %}
          <h3>Overview</h3>
          <p>{{ page.overview }}</p>
          {% endif %}
          {% if page.problemstatement %}
          <h3>Problem Statement</h3>
          <p>{{ page.problemstatement }}</p>
          {% endif %}
          {% if page.users %}
          <h3>Users</h3>
          <p>{{ page.users }}</p>
          {% endif %}
          {% if page.persona %}
          <picture>
            <source srcset="../../assets/images/{{ page.webppersona }}" type="image/webp">
            <source srcset="../../assets/images/{{ page.persona }}" type="image/jpeg"> 
            <img src="../../assets/images/{{ page.persona }}" alt="Persona examples for {{ page.project }}">
          </picture>
          {% endif %}
          {% if page.constraints %}
          <h3>Constraints</h3>
          <p>{{ page.constraints }}</p>
          {% endif %}
          {% if page.process %}
          <h3>Process</h3>
          <p>{{ page.process }}</p>
          {% endif %}
          {% if page.outcome %}
          <h3>Outcome</h3>
          <p>{{ page.outcome }}</p>
          {% endif %}
          {% if page.processdoc %}
            <h3>Process Document</h3>
            <p>
            <a href="../../assets/images/process-docs/{{ page.processdoc }}" target="_blank" rel="noopener">{{ page.processdocprompt }}</a></p>
          {% endif %}
          {% if page.externalurl %}
            <h3>External Files</h3>
            <p><a href="{{ page.externalurl }}" target="_blank" rel="noopener">{{ page.externalprompt }}</a></p>
          {% endif %}
        </div>
        <div class="image-column">
          <div class="single">
            <a href="../../assets/images/portfolio-images/{{ page.collection-image }}" data-fancybox="images">
              <picture>
                <source srcset="../../assets/images/portfolio-images/{{ page.webpcollection-image }}" type="image/webp">
                <source srcset="../../assets/images/portfolio-images/{{ page.collection-image }}" type="image/jpeg"> 
                <img src="../../assets/images/portfolio-images/{{ page.collection-image }}" alt="Project example image for {{ page.project }}">
              </picture>
            </a>
          </div>
          <div class="single">
          {% if page.image01 %}
            <a href="../../assets/images/portfolio-images/{{ page.image01 }}" data-fancybox="images">
              <picture>
                <source srcset="../../assets/images/portfolio-images/{{ page.webpimage01 }}" type="image/webp">
                <source srcset="../../assets/images/portfolio-images/{{ page.image01 }}" type="image/jpeg"> 
                <img src="../../assets/images/portfolio-images/{{ page.image01 }}" alt="Project example image for {{ page.project }}">
              </picture>
            </a>
          {% endif %}
          </div>
          <div class="double">
            {% if page.image02 %}
            <a href="../../assets/images/portfolio-images/{{ page.image02 }}" data-fancybox="images">
              <picture>
                <source srcset="../../assets/images/portfolio-images/{{ page.webpimage02 }}" type="image/webp">
                <source srcset="../../assets/images/portfolio-images/{{ page.image02 }}" type="image/jpeg"> 
                <img src="../../assets/images/portfolio-images/{{ page.image02 }}" alt="Project example image for {{ page.project }}">
              </picture>
            </a>
            {% endif %}
            {% if page.image03 %}
            <a href="../../assets/images/portfolio-images/{{ page.image03 }}" data-fancybox="images">
              <picture>
                <source srcset="../../assets/images/portfolio-images/{{ page.webpimage03 }}" type="image/webp">
                <source srcset="../../assets/images/portfolio-images/{{ page.image03 }}" type="image/jpeg"> 
                <img src="../../assets/images/portfolio-images/{{ page.image03 }}" alt="Project example image for {{ page.project }}">
              </picture>
            </a>
            {% endif %}
          </div>
          <div class="double">
            {% if page.image04 %}
            <a href="../../assets/images/portfolio-images/{{ page.image04 }}" data-fancybox="images">
              <picture>
                <source srcset="../../assets/images/portfolio-images/{{ page.webpimage04 }}" type="image/webp">
                <source srcset="../../assets/images/portfolio-images/{{ page.image04 }}" type="image/jpeg"> 
                <img src="../../assets/images/portfolio-images/{{ page.image04 }}" alt="Project example image for {{ page.project }}">
              </picture>
            </a>
            {% endif %}
            {% if page.image05 %}
            <a href="../../assets/images/portfolio-images/{{ page.image05 }}" data-fancybox="images">
              <picture>
                <source srcset="../../assets/images/portfolio-images/{{ page.webpimage05 }}" type="image/webp">
                <source srcset="../../assets/images/portfolio-images/{{ page.image05 }}" type="image/jpeg"> 
                <img src="../../assets/images/portfolio-images/{{ page.image05 }}" alt="Project example image for {{ page.project }}">
              </picture>
            </a>
            {% endif %}
          </div>
        </div>
      </section>
    </main>
    <script>
      $('[data-fancybox]').fancybox({
        protect: true,
        loop: true,
        clickContent: false,
        buttons: [
          "close"
        ]
      });
    </script>
    {% include footer.html %}
  </body>
</html>
